<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}} - Node Webserver</title>
  </head>
  <body>
    {{> header}}
    <section>
      <p>{{welcomeMessage}}</p>
    </section>
    {{> footer}}
  </body>
</html>
